/*
Categories:
1. Extra-small = Lower than 600px.
2. Small = Between 600px - 768px.
3. Medium = Between 768px - 992px.
4. Large = Between 992px - 1200px.
5. Extra-large = Larger than 1200px.
*/

@media (width <= 600px) {
  .article-home {
    flex-direction: column;
  }

  .mini-sidebar {
    flex-direction: row;
  }

  .article-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .article-img img {
    border-radius: 16px;
  }

  .showcase-wrap {
    flex-direction: column;
  }
}

@media (601px <= width <= 768px) {
  .article-home {
    flex-direction: column;
  }

  .mini-sidebar {
    flex-direction: row;
  }

  .article-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .article-img img {
    border-radius: 16px;
  }

  .showcase-wrap {
    flex-direction: column;
  }
}

@media (769px <= width <= 992px) {
  .mini-sidebar {
    flex-direction: column;
  }
}

@media (993px <= width <= 1200px) {
  .mini-sidebar {
    flex-direction: column;
  }
}

@media (width >= 1201px) {
  .mini-sidebar {
    flex-direction: column;
  }
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
}

marquee {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  color: white;
}

/* HEADER */

.navigation-bar .main-header {
  display: flex;
  align-items: center;
  gap: 16px;
  word-wrap: break-word;
  z-index: 1;
}

.navigation-bar .main-header h3 {
  -webkit-text-stroke: 0.1px black;
  text-shadow: 1px 2px 4px black;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px;
  align-items: center;
  overflow: auto;
  width: 100%;
  padding: 8px 12px;
  left: 0;
  top: 0;
  background-color: #4d4d4d;
  color: var(--text-color2);
  box-shadow: 1px 2px 4px black;
  z-index: 1;
}

.navigation-bar img {
  max-width: 64px;
  max-height: 75.25px;
}

.navigation-link a {
  margin: auto 16px;
  text-decoration: none;
  color: var(--text-color2);
  transition: 0.2s ease-in;
  display: inline-block;
  -webkit-text-stroke: 0.1px black;
  text-shadow: 1px 2px 4px black;
}

.navigation-link a.active {
  font-size: 30px;
}

.navigation-link a:hover {
  opacity: 0.6;
}

/* ARTICLE */
.about-me-section {
  margin: 12px auto;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

article .article-home {
  padding: 12px;
  margin: 0;
  display: flex;
  align-items: center;
}

article .mini-sidebar {
  display: flex;
  gap: 16px;
  flex: 0;
  align-items: center;
}

article .mini-home-content {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 0 16px;
  padding: 12px;
}

article .mini-img-profile {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.article-img img {
  object-fit: cover;
  width: 250px;
  height: 350px;
  max-width: 100%;
  image-rendering: optimizeQuality;
  margin-bottom: 16px;

  border-radius: 8px;
  box-shadow: 2.5px 2.5px 2.5px 0px black;
}

article .column-direction {
  flex-direction: column;
  display: flex;
}

.article-text p,
.article-name {
  margin: 0 12px;
  flex-direction: row;
  padding: 8px 0;
  max-width: 500px;
  color: rgb(203 213 224);
  font-weight: 600;
}

.article-text h1 {
  color: white;
}

.article-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
}

.article-strength,
.article-weakness,
.article-journey {
  padding: 4px 12px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1b1f22;
  border: 1px #495057 solid;

  min-height: 200px;
  border-radius: 12px;
}

.article-strength h3,
.article-strength p,
.article-weakness h3,
.article-weakness p,
.article-journey h3,
.article-journey * {
  margin: 4px 0;
  color: var(--text-color2);
}

.article-text {
  display: flex;
  flex-direction: column;
}

article .article-content {
  margin-top: 10px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;

  border-radius: 8px;
  margin: 10px 16px;
  background-color: #212529;
  box-shadow: 2.5px 2.5px 2.5px 0px var(--box-bg-color2);
}

.justify {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: start;
  padding: 0 4px;
  overflow: auto;
}

.justify * {
  margin: 0 4px;
}

.justify li {
  max-width: 75px;
  width: 100%;
}

.mini-sidebar img {
  width: 64px;
  vertical-align: middle;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: 0.5s ease-in-out;
}

.mini-sidebar img:hover {
  filter: none;
  -webkit-filter: none;
}

.content-greetings {
  font-size: 17px;
}

.mini-home-content h1 {
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 32px;
  color: #0c2340;
}

.mini-home-content h4 {
  margin: 6px 0;
}

.mini-home-content p {
  margin-top: 6px;
}

.mini-home-content button {
  width: 150px;
  height: 35px;
  background-color: var(--main-color1);
  font-size: 17px;
  color: var(--text-color2);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2.5px 2.5px 2.5px 0px var(--box-bg-color2);
}

.mini-img-profile {
  display: flex;
  align-items: end;
  width: fit-content;
}

.mini-img-profile img {
  width: 300px;
  height: 570px;
  object-fit: cover;
  max-width: 100%;
}

/* OTHERS */
:root {
  /* Explanation:
    1 = Light mode
    2 = Dark mode */

  --bg-color1: #fdfdfd;
  --bg-color2: ;

  --box-bg-color1: ;
  --box-bg-color2: #4d4d4d;

  --main-color1: #754ef9;
  --main-color2: ;

  --text-color1: #333;
  --text-color2: #fdfdfd;

  --white-color1: #fdfdfd;

  --shadow-color1: rgba(0, 0, 0, 0.2);
  --shadow-color2: ;

  --gradient1: linear-gradient(to right, #333, gray);
}

/* transform: translate(-100%);
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; */

/* HAMBURGER MENU */

@media (width <= 992px) {
  .navigation-link {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu-link {
    display: none;
  }
}

@media (width >= 993px) {
  .hamburger-menu {
    display: none;
  }

  .hamburger-menu-link {
    display: none;
  }
}

.hamburger-menu {
  margin: auto 16px;
  text-decoration: none;
  cursor: pointer;
}

.hamburger-menu i {
  text-align: center;
  vertical-align: middle;
  color: var(--text-color1);
  transition: 0.3s;
  transform: none;
}

.hamburger-menu i:active {
  pointer-events: none;
}

.hamburger-menu button {
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.hamburger-menu button:hover {
  opacity: 1;
}

.hamburger-menu-link {
  flex-direction: column;
  display: flex;
  border: 1px black solid;
  background-color: var(--box-bg-color2);
  width: 100%;
  position: relative;
  left: 0;
}

.hamburger-menu-link a {
  text-decoration: none;
  color: var(--text-color2);
  font-size: 22px;
  display: block;
  padding: 8px;
  transition: 0.5s ease-out;
  word-spacing: 8px;
  -webkit-tap-highlight-color: transparent;

  border-bottom: 1px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
}

.hamburger-menu-link a:hover {
  background-color: #ddd;
  color: black;
}

.hamburger-menu-link i {
  width: 36px;
  text-align: center;
}

/* HAMBURGER MENU TRANSITION */
.transition1 {
  animation: 1s transition1 1;
}
.transition2 {
  animation: 1.5s transition2 1;
}
.transition3 {
  animation: 2s transition3 1;
}
.transition4 {
  animation: 2.5s transition4 1;
}

@keyframes transition1 {
  from {
    margin-left: -50px;
    position: absolute;
    border: none;
  }
  to {
    margin-left: 0;
    position: relative;
  }
}
@keyframes transition2 {
  from {
    margin-left: -100px;
    position: absolute;
    border: none;
  }
  to {
    margin-left: 0;
    position: relative;
  }
}
@keyframes transition3 {
  from {
    margin-left: -150px;
    position: absolute;
    border: none;
  }
  to {
    margin-left: 0;
    position: relative;
  }
}
@keyframes transition4 {
  from {
    margin-left: -200px;
    position: absolute;
    border: none;
  }
  to {
    margin-left: 0;
    position: relative;
  }
}

/* SHOWCASE SECTION */
.showcase-section {
  margin: 12px auto;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.showcase-content {
  border: 1px black solid;
  display: flex;
  flex-direction: column;

  background-color: #212529;
  margin: 10px 16px;
  border-radius: 12px;
  color: var(--text-color2);
  color: #adb5bd;
}

.showcase-wrap {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 0 12px;
  gap: 16px;
}

.s10th-grade-content,
.s11th-grade-content,
.s12th-grade-content {
  border: 1px #495057 solid;
  flex: 1;
  background-color: #1b1f22;
  color: var(--text-color2);

  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase-description,
.showcase-achievement {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 12px;
  text-align: center;
}

.showcase-achievement {
  border: 1px #495057 solid;
  flex: 1;
  background-color: #1b1f22;
  color: var(--text-color2);
  margin: 16px 12px;

  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.s10th-grade-content button,
.s11th-grade-content button,
.s12th-grade-content button,
.showcase-achievement button {
  border: 1px #495057 solid;
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
  background-color: #18191a;
  color: #fdfdfd;
  transition: all 0.5s;
  display: inline-block;
}

.s10th-grade-content button:hover,
.s11th-grade-content button:hover,
.s12th-grade-content button:hover,
.showcase-achievement button:hover {
  opacity: 0.8;
}

.s10th-grade-content span,
.s11th-grade-content span,
.s12th-grade-content span,
.showcase-achievement span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.s10th-grade-content span:after,
.s11th-grade-content span:after,
.s12th-grade-content span:after,
.showcase-achievement span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.5s;
  color: white;
}

.s10th-grade-content button:hover span,
.s11th-grade-content button:hover span,
.s12th-grade-content button:hover span,
.showcase-achievement button:hover span {
  padding-right: 15px;
}

.s10th-grade-content button:hover span:after,
.s11th-grade-content button:hover span:after,
.s12th-grade-content button:hover span:after,
.showcase-achievement button:hover span:after {
  opacity: 1;
  right: 0;
}

.showcase-content h1 {
  margin-bottom: 32px;
  margin-top: 0;
}

/* CONTACT SECTION */
.contact-section {
  margin: 12px auto;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
